

.hero-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: white;
    transition: background-color 2s ease-in-out, opacity 2s ease-in-out; /* Add opacity transition */
}
  
  .hero-image {
    width: auto; 
    height: 100%;
    background-color: white;
    opacity: 1;
    transition: opacity 2s ease-in-out, background-color 2s ease-in-out;
    display: flex; 
    align-items: center; 
    justify-content: center; 

  }
  
  .hero-image-container.fade-out, .hero-image.fade-out {
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
  }